@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: rgb(149, 146, 146);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    

}
#top-bar{
    background-color: blue;
    padding: 25px;
    margin-bottom:15px;
}
h1{
    text-align: center;
    color: white;
   
    
}

#center-place{
    background-color: white;
    width: 94vw;
    height: 90vh;
    border-radius: 10px;
    margin: auto;
}

#bloco-01{
    text-align: center;
    width: 95%;
    height: 80px;
    display: flex;
    flex-flow: row nowrap;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: auto auto;
    top: 40px;
    padding: 10px;
    cursor: pointer;
}

#imput-01{
    height: 50px;
    border: 1px solid rgb(56, 159, 228);
    border-radius: 8px;
    width: 510px;
    margin-right: 10px;
    text-indent: 5px;

    
}

#but-add{
    height: 50px;
    border-radius: 8px;
    width: 90px;
    border: none;
    background-color: rgb(60, 169, 13);
    color: white;
    text-align: center;
    
  
}

#but-add:hover{
    background-color: rgb(31, 199, 31);
    cursor: pointer;
}

.container{
    width: 100%;
    border: 1px solid blue;
    border-radius: 10px;
    display: flex;
    padding: 12px;
    background-color: rgba(0, 0, 255, 0.167);
    margin-bottom: 3%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.699);
}
main{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 90px;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    


    

}

.check-bx{
    flex: 5%;
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    cursor: pointer;
    
   
}


#circle{
    color: rgb(43, 42, 42);
    margin-right: 10px;
}


.text-02{
    width: 95%;
    height: 40px;
    border-radius: 10px;
    margin: auto;
    
    


}


.box-output{
display: flex;
margin-top: auto;
height: 40px;
align-items: center;
text-indent: 5px;
border-radius: 10px;
}

#but-del{
    height: 40px;
    border-radius: 8px;
    flex: 15%;
    border: none;
    background-color: rgb(193, 14, 14);
    color: white;
    text-align: center;
    margin: auto;
    margin-left: 10px;
}
#but-del:hover{
    background-color: red;

}

#lixeira{
    display: flex;
    height: 40px;
    margin: auto;
    align-items: center;
    position: relative;
    justify-content: center;
}
.clicado{
    color: green;
    text-decoration: line-through;
}


